.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  color: #fff;
  background-color: #070217;
}

.logo {
  display: inline-block;
  margin-bottom: 50px;
}

.links {
  margin-bottom: 50px;
}

.link {
  display: inline-block;
  padding: 24px 49px;
  font-weight: 700;
  font-size: 18px;
  background-color: #3f2aff;
}

.link:not(:last-child) {
  margin-right: 25px;
}

.download-link {
  display: inline-block;
  padding-left: 25px;
  font-weight: 700;
  font-size: 18px;
  color: #3f2aff;
  background-image: url("../img/download.png");
  background-position: left center;
  background-size: contain;
  background-repeat: no-repeat;
}

